.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #424949;

}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #424949;
}

body {
    background-color: white;
}

.navbar-brand {
    margin-left: 80px;
}

.input-group {
    margin-right: 80px;
}

h3 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color:#424949;
}

.list-group{
    margin-left: 80px;
    margin-right: 80px;
}

.list-group-item {
    color: #424949 ;
}

.options {
    text-align: center;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.footer {
    position: fixed;
    right: 40px;
    bottom: 0;
    left: 0;
    background-color: #f8f9fa;
    color: #424949;
    text-align: right;
}

.theme {
    outline: none;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}